# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore generated build files
dist/

# Ignore environment variables file
.env

# Ignore IDE and editor-specific files
.vscode/
.idea/

# Ignore npm package lock file
package-lock.json

# Ignore macOS specific files
.DS_Store

# Code coverage reports
coverage